
<div class="elementor-alert elementor-widget elementor-alert-{{type}} {{css_classes}}" role="alert">
    {{#if title}}<span class="elementor-alert-title">{{title}}</span>{{/if}}
    <span class="elementor-alert-description">{{{description}}}</span>
    {{#if dismissable}}
    <button type="button" class="elementor-alert-dismiss"><span aria-hidden="true">×</span><span class="elementor-screen-only">Dismiss alert</span></button>
    {{/if}}
</div>